<%- include('partials/header'); -%>
        


<div id="chat-box" class="chat-box" style="display:none">
    <div id="chat">
    <h2 id="username" style="display: none;"><%=user.name%></h2>
    <div id="chat-window">
        <div id="output">
            <% if (msgs.length > 0) { %>
                 <% msgs.forEach(msg => { %> 
                    <div class="texts" id="<%=msg.roomName%>" style="display: none">
                    <p ><strong><%=msg.user%>: </strong><%=msg.message%><p>  
                    </div>
                <% }) %>
              <% } %>
        </div>
    </div>
    <input id="message" type="text" onfocus="this.value=''" placeholder="Message" />
    <button id="send" >Send</button>
    </div>
</div>
<button style="display: none" id="start">Start Meeting</button>
<button style="display: none" id="joining">Join Meeting</button>
        <div id="videocall">
            <h3 class="text">Video Call</h3>
            <br>
            <input id="roomName" type="text" placeholder="Room Name" />
            <button id="join">Join</button>
        </div>
        <div id="thankyou" style="display: none;">
            <h1  >Thank You!<br> Your call has ended.</h1>
        </div>  
        <div id="videocallroom">
            <video id="user" ></video>
            <video id="peer" ></video>
            
        </div>
        <div id="btns" style="display: none;">
            <button class="b" id="hide">Hide </button>
            <button class="b" id="mute">Mute</button>
            <button class="b" id="leave">Leave</button>
        </div>

    </body>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <script src="video.js"></script>
</html>
